.likearts-content .header {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 255px;
  background-color: #0c0e0f;
  background-image: url("../../images/header/bg.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  z-index: 1000;
}
@media (max-width: 960px) {
  .likearts-content .header__menu--desktop {
    display: none;
  }
}
@media (min-width: 961px) {
  .likearts-content .header__menu--mobile {
    display: none !important;
  }
}
.likearts-content .header__logo {
  width: 276px;
  height: 57px;
  background-image: url("../../images/header/logo.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 960px) {
  .likearts-content .header__logo {
    width: calc(276 / 1.5 * 1px);
    height: calc(57 / 1.5 * 1px);
  }
}
@media (max-width: 768px) {
  .likearts-content .header__logo {
    width: calc(276 / 2 * 1px);
    height: calc(57 / 2 * 1px);
  }
}
@media (max-width: 640px) {
  .likearts-content .header__logo {
    width: calc(276 / 2.5 * 1px);
    height: calc(57 / 2.5 * 1px);
  }
}
.likearts-content .header .l-logo {
  position: relative;
  top: -8px;
  left: -1px;
}
@media (max-width: 970px) {
  .likearts-content .header .l-logo {
    top: 0;
    left: 0;
    margin: 10px 0;
  }
}
@media (max-width: 960px) {
  .likearts-content .header .l-logo {
    display: none;
  }
}
.likearts-content .header .panel {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding: 0 34px 0 15px;
  background-color: #0a0c0d;
}
@media (max-width: 992px) {
  .likearts-content .header .panel {
    padding: 0 18px 0 8px;
  }
}
@media (max-width: 970px) {
  .likearts-content .header .panel {
    padding: 0 8px;
  }
}
@media (max-width: 960px) {
  .likearts-content .header .panel {
    display: none;
  }
}
@media (max-width: 970px) {
  .likearts-content .header .panel__left {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}
@media (max-width: 768px) {
  .likearts-content .header .panel__left {
    position: absolute;
  }
}
.likearts-content .header .panel__right {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 970px) {
  .likearts-content .header .panel__right {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .likearts-content .header .panel__right {
    margin-top: 50px;
  }
}
.likearts-content .header .entrance {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: calc(12 / 16 * 1rem);
  color: #a0a9b2;
  margin-top: -1px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .likearts-content .header .entrance {
    display: none;
  }
}
.likearts-content .header .entrance__user {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.likearts-content .header .entrance__links {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 1170px) {
  .likearts-content .header .entrance__links {
    position: relative;
    top: 0;
    left: 10px;
  }
}
@media (max-width: 768px) {
  .likearts-content .header .entrance__links {
    top: 0;
    left: 0;
  }
}
.likearts-content .header .entrance__icon {
  margin-right: 9px;
}
.likearts-content .header .entrance__user-mail {
  margin-right: 28px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
@media (max-width: 1170px) {
  .likearts-content .header .entrance__user-mail {
    margin-right: 1px;
  }
}
.likearts-content .header .entrance__separator {
  color: #ffde13;
  margin: 0 10px;
}
.likearts-content .header .entrance__link {
  display: block;
  color: inherit;
  padding: 21px 0 20px 0;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.likearts-content .header .entrance__link:hover {
  color: #fff;
}
@media (max-width: 768px) {
  .likearts-content .header .entrance__link {
    padding: 16px 0;
  }
}
.likearts-content .header .content {
  width: 100%;
  height: auto;
  min-height: 144px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 970px) {
  .likearts-content .header .content {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}
@media (max-width: 960px) {
  .likearts-content .header .content {
    padding: 56px 16px 30px 16px;
  }
}
@media (min-width: 971px) {
  .likearts-content .header .content__mobile-staff {
    display: none;
  }
}
.likearts-content .header .l-contacts {
  position: relative;
  left: 17px;
  top: -5px;
}
@media (max-width: 1170px) {
  .likearts-content .header .l-contacts {
    left: -11px;
  }
}
@media (max-width: 970px) {
  .likearts-content .header .l-contacts {
    left: 0;
    top: 0;
    margin-bottom: 20px;
  }
}
.likearts-content .header .contacts {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.likearts-content .header .contacts__list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.likearts-content .header .contacts__icon {
  margin-right: 18px;
}
@media (max-width: 970px) {
  .likearts-content .header .contacts__icon {
    display: none;
  }
}
.likearts-content .header .contacts__phone {
  font-weight: 700;
  font-size: calc(18 / 16 * 1rem);
  line-height: 1.3;
  text-decoration: none;
  color: #fff;
}
.likearts-content .header .contacts__phone:hover {
  text-decoration: underline;
}
.likearts-content .header .contacts__link {
  display: inline-block;
  color: #ffde13;
  font-size: calc(12 / 16 * 1rem);
  line-height: 1.8;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.likearts-content .header .contacts__link:hover {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 970px) {
  .likearts-content .header .contacts__link {
    display: none;
  }
}
.likearts-content .header .contacts__sign {
  font-size: calc(12 / 16 * 1rem);
}
@media (max-width: 970px) {
  .likearts-content .header .contacts__sign {
    display: none;
  }
}
.likearts-content .header .l-cart {
  position: relative;
  left: 72px;
  top: 3px;
}
@media (max-width: 1170px) {
  .likearts-content .header .l-cart {
    left: -3px;
  }
}
@media (max-width: 970px) {
  .likearts-content .header .l-cart {
    left: 0px;
    top: 0px;
    margin-bottom: 20px;
  }
}
.likearts-content .header .cart {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.likearts-content .header .cart__icon {
  position: relative;
  margin-right: 33px;
}
.likearts-content .header .cart__icon-circle {
  position: absolute;
  top: -10px;
  right: -25px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: calc(15 / 16 * 1rem);
  color: #ffde13;
}
.likearts-content .header .cart__list {
  position: relative;
  top: -7px;
  left: 4px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@media (max-width: 970px) {
  .likearts-content .header .cart__list {
    display: none;
  }
}
.likearts-content .header .cart__sign {
  font-weight: 300;
  font-size: calc(13 / 16 * 1rem);
  margin-bottom: 3px;
}
.likearts-content .header .cart__sum {
  color: #ffde13;
  font-style: 400;
  font-size: calc(18 / 16 * 1rem);
}
.likearts-content .header .l-controls {
  position: relative;
  top: -5px;
  left: -3px;
}
@media (max-width: 1170px) {
  .likearts-content .header .l-controls {
    top: -10px;
    left: 0;
  }
}
@media (max-width: 970px) {
  .likearts-content .header .l-controls {
    top: 0;
    left: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 960px) {
  .likearts-content .header .l-controls {
    margin-bottom: 0;
    width: 100%;
  }
}
.likearts-content .header .controls {
  position: relative;
}
.likearts-content .header .controls__box {
  height: auto;
  min-height: 61px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid #2a2b2d;
  padding: 0 36px 0 27px;
  border-radius: 0 12px 12px 12px;
}
@media (max-width: 1170px) {
  .likearts-content .header .controls__box {
    padding: 0 21px;
    min-height: 52px;
  }
}
@media (max-width: 960px) {
  .likearts-content .header .controls__box {
    min-height: 0;
    width: 100%;
  }
}
.likearts-content .header .controls__links {
  position: relative;
  top: -3px;
  left: -1px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@media (max-width: 1170px) {
  .likearts-content .header .controls__links {
    display: none;
  }
}
.likearts-content .header .controls__link {
  color: #ffde13;
  font-size: calc(13 / 16 * 1rem);
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  padding-top: 3px;
}
.likearts-content .header .controls__link:hover {
  color: #fff;
  text-decoration: underline;
}
.likearts-content .header .controls__search {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (min-width: 1171px) {
  .likearts-content .header .controls__search {
    display: none;
  }
}
@media (max-width: 960px) {
  .likearts-content .header .controls__search {
    width: 100%;
  }
}
.likearts-content .header .controls__input {
  max-width: 134px;
  padding-right: 19px;
  font-size: calc(13 / 16 * 1rem);
  background-color: transparent;
  color: #fff;
  border: none;
}
@media (max-width: 970px) {
  .likearts-content .header .controls__input {
    max-width: none;
    padding: 19px;
  }
}
@media (max-width: 960px) {
  .likearts-content .header .controls__input {
    padding: 12px 8px;
    width: 100%;
  }
}
.likearts-content .header .controls__input:focus {
  outline: none;
}
.likearts-content .header .controls__input::-webkit-input-placeholder {
  color: #fff !important;
}
.likearts-content .header .controls__input::-moz-placeholder {
  color: #fff !important;
}
.likearts-content .header .controls__input:-moz-placeholder {
  color: #fff !important;
}
.likearts-content .header .controls__input:-ms-input-placeholder {
  color: #fff !important;
}
.likearts-content .header .controls__icon-search {
  margin-left: -19px;
}
.likearts-content .header .submenu {
  width: 100%;
  height: auto;
  min-height: 56px;
  background-color: #fff;
  -webkit-box-shadow: 3px 4px 5px rgba(0,0,0,0.07);
  box-shadow: 3px 4px 5px rgba(0,0,0,0.07);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
@media (max-width: 970px) {
  .likearts-content .header .submenu {
    padding: 12px 0;
  }
}
.likearts-content .header .submenu__list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: 0 25px 0 15px;
}
@media (max-width: 1170px) {
  .likearts-content .header .submenu__list {
    padding: 0 20px 0 20px;
  }
}
.likearts-content .header .submenu__list-item {
  padding: 0 2px 0 10px;
  margin-top: 3px;
}
@media (max-width: 1170px) {
  .likearts-content .header .submenu__list-item {
    padding: 0 0 0 9px;
  }
}
.likearts-content .header .submenu__list-link {
  display: inline-block;
  padding: 3px 6px;
  font-size: calc(13 / 16 * 1rem);
  border-radius: 0 3px 3px 3px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.likearts-content .header .submenu__list-link:hover {
  background-color: #ffde13;
  text-decoration: none;
}
.likearts-content .header .submenu__list-link.is-active {
  background-color: #ffde13;
  text-decoration: none;
}
.likearts-content .header .submenu__search {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background-color: #2e3234;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 1170px) {
  .likearts-content .header .submenu__search {
    display: none;
  }
}
.likearts-content .header .l-submenu-search {
  position: relative;
  top: 0;
  left: 0;
}
.likearts-content .header .search {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.likearts-content .header .search__input {
  max-width: 151px;
  padding-right: 19px;
  font-size: calc(15 / 16 * 1rem);
  background-color: transparent;
  color: #fff;
  border: none;
}
@media (max-width: 970px) {
  .likearts-content .header .search__input {
    max-width: none;
    padding: 19px;
  }
}
.likearts-content .header .search__input:focus {
  outline: none;
}
.likearts-content .header .search__input::-webkit-input-placeholder {
  color: #fff !important;
}
.likearts-content .header .search__input::-moz-placeholder {
  color: #fff !important;
}
.likearts-content .header .search__input:-moz-placeholder {
  color: #fff !important;
}
.likearts-content .header .search__input:-ms-input-placeholder {
  color: #fff !important;
}
.likearts-content .header .search__icon {
  margin-left: -19px;
}
