//colors
$color-primary = #ffde13
$color-bg = #f2f2f2
$color-text = #000
$color-text-hint = #aeaeae

//resolutions
$phone = 640px
$tablet = 768px
$notebook = 1024px
$desktop = 1600px

//params
$container-width = 1170px
$base-font = 16

.likearts-content .slick-arrow
	display none!important

.likearts-content .slick-list
	border-radius 12px!important

.likearts-content .catalog-slider
	position relative
	width 100%
	height auto

	&__item
		width 100%
		height auto
		min-height 324px
		background-repeat no-repeat
		background-size cover
		background-position center
		color #fff
		padding 80px 55px 64px 55px
		@media (max-width: 1170px)
			min-height 280px
			padding 50px 55px 50px 55px

	.slider-controls
		position absolute
		top 40px
		left 54px
		&__btn
			background-color transparent
			border none
			display inline-flex
			justify-content center
			align-items center
			cursor pointer
			padding 0
			&--prev
				margin-right 7px
			&--next
				margin-left 1px

		&__counter
			position relative
			top 2px
			color $color-primary
			font-size calc(36 / 16 * 1em)
			line-height 1
			font-weight 800
			letter-spacing 3px

		&__all
			position relative
			top -6px
			left -3px
			color #fff
			font-size calc(18 / 16 * 1em)
			line-height 1.33
			font-weight 800

		&__separator
			margin 0 6px

	&__item-title
		font-size calc(26 / 16 * 1em)
		font-weight 300
		text-transform uppercase
		margin 44px 0 24px 0
		line-height 1.16
		letter-spacing 3px

	&__item-sign
		font-weight 700

	&__item-icon
		margin-left -8px
