/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-next {
  background-image: url(sprite.png);
  background-position: -17px -117px;
  width: 17px;
  height: 16px;
}
.icon-arrow-prev {
  background-image: url(sprite.png);
  background-position: -34px -117px;
  width: 17px;
  height: 15px;
}
.icon-arrow-r {
  background-image: url(sprite.png);
  background-position: -120px 0px;
  width: 23px;
  height: 18px;
}
.icon-back {
  background-image: url(sprite.png);
  background-position: -120px -81px;
  width: 18px;
  height: 19px;
}
.icon-btn-next {
  background-image: url(sprite.png);
  background-position: -120px -18px;
  width: 17px;
  height: 24px;
}
.icon-cancel {
  background-image: url(sprite.png);
  background-position: -68px -82px;
  width: 27px;
  height: 27px;
}
.icon-cart {
  background-image: url(sprite.png);
  background-position: -46px 0px;
  width: 38px;
  height: 35px;
}
.icon-circle {
  background-image: url(sprite.png);
  background-position: -84px 0px;
  width: 36px;
  height: 36px;
}
.icon-confirm-w {
  background-image: url(sprite.png);
  background-position: 0px -117px;
  width: 17px;
  height: 17px;
}
.icon-confirm {
  background-image: url(sprite.png);
  background-position: -120px -100px;
  width: 17px;
  height: 17px;
}
.icon-enter {
  background-image: url(sprite.png);
  background-position: -120px -62px;
  width: 19px;
  height: 19px;
}
.icon-fb {
  background-image: url(sprite.png);
  background-position: 0px -82px;
  width: 35px;
  height: 35px;
}
.icon-next {
  background-image: url(sprite.png);
  background-position: -143px -51px;
  width: 12px;
  height: 18px;
}
.icon-ok {
  background-image: url(sprite.png);
  background-position: -84px -36px;
  width: 35px;
  height: 35px;
}
.icon-phone-g {
  background-image: url(sprite.png);
  background-position: -36px -46px;
  width: 36px;
  height: 36px;
}
.icon-phone {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 46px;
  height: 46px;
}
.icon-prev {
  background-image: url(sprite.png);
  background-position: -143px -69px;
  width: 12px;
  height: 18px;
}
.icon-repeat {
  background-image: url(sprite.png);
  background-position: -95px -82px;
  width: 25px;
  height: 18px;
}
.icon-rub-b {
  background-image: url(sprite.png);
  background-position: -143px 0px;
  width: 16px;
  height: 18px;
}
.icon-rub-black-big {
  background-image: url(sprite.png);
  background-position: -143px -18px;
  width: 16px;
  height: 17px;
}
.icon-rub-black {
  background-image: url(sprite.png);
  background-position: -143px -87px;
  width: 12px;
  height: 12px;
}
.icon-rub {
  background-image: url(sprite.png);
  background-position: -143px -99px;
  width: 12px;
  height: 12px;
}
.icon-search {
  background-image: url(sprite.png);
  background-position: -120px -42px;
  width: 20px;
  height: 20px;
}
.icon-timer {
  background-image: url(sprite.png);
  background-position: -35px -82px;
  width: 33px;
  height: 32px;
}
.icon-user {
  background-image: url(sprite.png);
  background-position: -143px -35px;
  width: 14px;
  height: 16px;
}
.icon-vk {
  background-image: url(sprite.png);
  background-position: 0px -46px;
  width: 36px;
  height: 36px;
}
