.likearts-content .header
	width 100%
	height auto
	min-height 255px
	background-color #0c0e0f
	background-image url('../../images/header/bg.jpg')
	background-position center
	background-size cover
	background-repeat no-repeat
	color #fff

	&__menu 
		&--desktop
			@media all and (max-width: 768px)
				display none
		&--mobile
			@media all and (min-width: 768px)
				display none

	.panel
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items stretch
		padding 0 34px 0 15px
		background-color #0a0c0d
		@media (max-width: 992px)
			padding 0 18px 0 8px
		@media (max-width: 970px)
			padding 0 8px

		&__left
			@media (max-width: 970px)
				flex-grow 1
			@media (max-width: 768px)
				position absolute

		&__right
			display flex
			flex-flow row wrap
			justify-content flex-start
			align-items center
			@media (max-width: 970px)
				flex-grow 1
				justify-content center
			@media (max-width: 768px)
				margin-top 50px
				padding 16px 0 0 0

	.entrance
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items center
		font-size calc(12 / 16 * 1em)
		color #a0a9b2 
		margin-top -1px
		font-weight 300
		@media (max-width: $phone)
			flex-flow column wrap
			align-items stretch

		&__user 
			display flex
			flex-flow row wrap
			justify-content space-between
			align-items center

		&__links
			display flex
			flex-flow row wrap
			justify-content space-between
			align-items center

		&__icon
			margin-right 9px

		&__user-mail
			margin-right 28px
			max-width 150px
			white-space nowrap
			overflow hidden
			text-overflow ellipsis

		&__separator
			color $color-primary
			margin 0 10px

		&__link
			display block
			color inherit
			padding 21px 0 20px 0
			transition color .2s ease-in-out
			&:hover
				color #fff
			@media (max-width: 768px)
				padding 16px 0