.likearts-content .checkout-page {
  position: relative;
  width: 100%;
  height: auto;
  padding: 34px 0;
}
@media (max-width: 1170px) {
  .likearts-content .checkout-page {
    padding: 34px 15px;
  }
}
.likearts-content .checkout-page__steps {
  position: relative;
  margin-top: 29px;
  margin-bottom: 37px;
}
.likearts-content .checkout-page__detail {
  position: relative;
}
.likearts-content .checkout-page .steps {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 768px) {
  .likearts-content .checkout-page .steps {
    flex-flow: column wrap;
  }
}
.likearts-content .checkout-page .steps__item {
  position: relative;
  width: auto;
  height: auto;
  min-height: 50px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 13px 25px;
}
@media (max-width: 1024px) {
  .likearts-content .checkout-page .steps__item {
    font-size: calc(13 / 16 * 1rem);
  }
}
@media (max-width: 768px) {
  .likearts-content .checkout-page .steps__item {
    margin-bottom: 1px;
  }
}
.likearts-content .checkout-page .steps__item:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border: 25px solid transparent;
  border-left: 12px solid #eaeaea;
  transform: translateX(1px);
  z-index: 1;
}
@media (max-width: 768px) {
  .likearts-content .checkout-page .steps__item:before {
    display: none;
  }
}
.likearts-content .checkout-page .steps__item:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  border: 25px solid transparent;
  border-left: 12px solid #fff;
  transform: translateX(100%);
  z-index: 2;
}
@media (max-width: 768px) {
  .likearts-content .checkout-page .steps__item:after {
    display: none;
  }
}
.likearts-content .checkout-page .steps span {
  margin-right: 20px;
}
.likearts-content .checkout-page .steps__item.is-first {
  background-color: #282a2c;
  color: #fff;
}
.likearts-content .checkout-page .steps__item.is-first:before {
  display: none;
}
.likearts-content .checkout-page .steps__item.is-first:after {
  border-left-color: #282a2c;
}
.likearts-content .checkout-page .steps__item.is-first .steps__item-icon {
  color: #ffde13;
}
.likearts-content .checkout-page .steps__item-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: calc(16 / 16 * 1rem);
  color: #000;
}
.likearts-content .checkout-page .detail {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.likearts-content .checkout-page .detail__form {
  position: relative;
  flex-grow: 1;
  max-width: calc(100% - 270px);
  min-height: 800px;
  order: 0;
  padding-right: 100px;
}
@media (max-width: 1170px) {
  .likearts-content .checkout-page .detail__form {
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .likearts-content .checkout-page .detail__form {
    width: 100%;
    max-width: 100%;
    order: 1;
    padding-right: 0;
  }
}
.likearts-content .checkout-page .detail__info {
  position: relative;
  top: -80px;
  width: 270px;
  height: auto;
  order: 1;
}
@media (max-width: 1170px) {
  .likearts-content .checkout-page .detail__info {
    top: 0;
  }
}
@media (max-width: 1024px) {
  .likearts-content .checkout-page .detail__info {
    width: 100%;
    order: 0;
  }
}
.likearts-content .checkout-page .detail__info-order {
  position: relative;
  margin-bottom: 43px;
}
.likearts-content .checkout-page .detail__info-help {
  position: relative;
  margin-bottom: 43px;
}
.likearts-content .checkout-page .order {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  border-top: 8px solid #ffde13;
  box-shadow: 3px 4px 9px rgba(0,0,0,0.08);
  padding: 18px 26px 28px 26px;
  color: #000;
}
.likearts-content .checkout-page .order__title {
  font-size: calc(20 / 16 * 1rem);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.likearts-content .checkout-page .order__separator {
  width: 100%;
  height: 7px;
  background-position: left bottom;
  background-repeat: repeat-x;
  margin: 10px 0;
}
.likearts-content .checkout-page .order__cost-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.likearts-content .checkout-page .order__cost-name {
  color: #545454;
  font-size: calc(15 / 16 * 1rem);
  font-weight: 400;
  line-height: 2.13;
}
.likearts-content .checkout-page .order__cost-price {
  font-size: calc(18 / 16 * 1rem);
  font-weight: 400;
  line-height: 1.06;
}
.likearts-content .checkout-page .order__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
.likearts-content .checkout-page .order__total-name {
  font-size: calc(15 / 16 * 1rem);
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.likearts-content .checkout-page .order__total-price {
  font-size: calc(22 / 16 * 1rem);
  font-weight: 600;
  line-height: 0.86;
}
.likearts-content .checkout-page .help {
  position: relative;
  color: #000;
}
@media (max-width: 1024px) {
  .likearts-content .checkout-page .help {
    background-color: #fff;
    padding: 18px 26px;
    border-radius: 12px;
    box-shadow: 3px 4px 9px rgba(0,0,0,0.08);
  }
}
.likearts-content .checkout-page .help__title {
  font-size: calc(20 / 16 * 1rem);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .likearts-content .checkout-page .help__title {
    letter-spacing: 1px;
  }
}
@media (max-width: 640px) {
  .likearts-content .checkout-page .help__title {
    font-size: calc(18 / 16 * 1rem);
  }
}
.likearts-content .checkout-page .help__separator {
  width: 100%;
  height: 3px;
  background-color: #dadada;
  margin: 17px 0 22px 0;
}
@media (max-width: 1024px) {
  .likearts-content .checkout-page .help__separator {
    height: 1px;
  }
}
.likearts-content .checkout-page .help__contacts {
  margin-bottom: 17px;
}
.likearts-content .checkout-page .help__contacts-phone {
  font-size: calc(18 / 16 * 1rem);
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  text-decoration: none;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page .help__contacts-phone {
    font-size: calc(14 / 16 * 1rem);
  }
}
.likearts-content .checkout-page .help__contacts-city {
  color: #545454;
  font-size: calc(15 / 16 * 1rem);
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page .help__contacts-city {
    font-size: calc(14 / 16 * 1rem);
  }
}
.likearts-content .checkout-page .help__chat {
  position: relative;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 54px;
  background-color: #fff;
  border-radius: 0 8px 8px;
  border: 3px solid #ffde13;
  color: #000;
  padding: 10px 35px 10px 28px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .likearts-content .checkout-page .help__chat {
    padding: 10px;
    width: 100%;
  }
}
.likearts-content .checkout-page .help__chat-icon {
  position: relative;
  top: 0;
  right: 3px;
  margin-right: 6px;
}
.likearts-content .checkout-page .help__chat-name {
  font-size: calc(18 / 16 * 1rem);
  font-weight: 600;
  line-height: 1.28;
}
.likearts-content .checkout-page .help__sign {
  color: #545454;
  font-size: calc(16 / 16 * 1rem);
  font-weight: 400;
  line-height: 1.44;
}
.likearts-content .checkout-page.step-1 .delivery {
  position: relative;
  width: 100%;
  color: #000;
}
.likearts-content .checkout-page.step-1 .delivery__title {
  font-size: calc(22 / 16 * 1rem);
  line-height: 1.64;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 22px;
}
.likearts-content .checkout-page.step-1 .delivery__title--mb {
  margin-bottom: 24px;
}
.likearts-content .checkout-page.step-1 .delivery__location {
  margin-bottom: 61px;
}
.likearts-content .checkout-page.step-1 .delivery__group {
  width: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .likearts-content .checkout-page.step-1 .delivery__group {
    width: 100%;
  }
}
.likearts-content .checkout-page.step-1 .delivery__label {
  font-size: calc(15 / 16 * 1rem);
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .likearts-content .checkout-page.step-1 .delivery__control {
    width: 100%;
  }
}
.likearts-content .checkout-page.step-1 .delivery__select {
  min-width: 300px;
  border: 2px solid #b6b6b6;
  border-radius: 12px;
  height: 51px;
  line-height: 48px;
  font-size: calc(18 / 16 * 1rem);
}
@media (max-width: 768px) {
  .likearts-content .checkout-page.step-1 .delivery__select {
    width: 100%;
  }
}
.likearts-content .checkout-page.step-1 .delivery__select .list {
  min-width: 300px;
}
@media (max-width: 768px) {
  .likearts-content .checkout-page.step-1 .delivery__select .list {
    width: 100%;
  }
}
.likearts-content .checkout-page.step-1 .delivery__btn-container {
  text-align: right;
  margin-top: 32px;
}
.likearts-content .checkout-page.step-1 .delivery__btn {
  position: relative;
  font-size: calc(16 / 16 * 1rem);
  line-height: 2.25;
  padding: 14px 59px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.06), 0 1px 4px rgba(0,0,0,0.06);
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .delivery__btn {
    width: 100%;
    padding: 14px 20px;
  }
}
.likearts-content .checkout-page.step-1 .delivery__btn-icon {
  position: relative;
  top: 4px;
}
.likearts-content .checkout-page.step-1 .variants {
  position: relative;
  color: #000;
}
.likearts-content .checkout-page.step-1 .variants__item {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 77px;
  border: 3px solid #d9d9d9;
  border-radius: 12px;
  padding: 26px 34px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .variants__item {
    padding: 16px;
    min-height: 0;
    flex-flow: column wrap;
    align-items: flex-start;
  }
}
.likearts-content .checkout-page.step-1 .variants__item.js-is-active {
  border-color: #ffde13;
  background-color: #fff;
}
.likearts-content .checkout-page.step-1 .variants__item.js-is-active .variants__item-info {
  position: relative;
  opacity: 1;
  transform: scale(1, 1);
}
.likearts-content .checkout-page.step-1 .variants__item-visible {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .variants__item-visible {
    flex-flow: column wrap;
    align-items: flex-start;
  }
}
.likearts-content .checkout-page.step-1 .variants__item-name {
  font-size: calc(20 / 16 * 1rem);
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .variants__item-name {
    line-height: 1.4;
  }
}
.likearts-content .checkout-page.step-1 .variants__item-trigger {
  border-bottom: 1px dashed #000;
  cursor: pointer;
}
.likearts-content .checkout-page.step-1 .variants__item-time {
  font-size: calc(20 / 16 * 1rem);
  font-weight: 400;
  line-height: 1;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .variants__item-time {
    line-height: 1.4;
  }
}
.likearts-content .checkout-page.step-1 .variants__item-price {
  font-size: calc(24 / 16 * 1rem);
  font-weight: 400;
  line-height: 1;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .variants__item-price {
    line-height: 1.4;
  }
}
.likearts-content .checkout-page.step-1 .variants__item-info {
  position: absolute;
  opacity: 0;
  transition: transform 0.05s ease-in-out;
  transform-origin: 100% 0;
  transform: scale(1, 0);
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.44;
  margin-top: 17px;
}
.likearts-content .checkout-page.step-1 .variants__item-half {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .variants__item-half {
    width: 100%;
    flex-flow: column wrap;
    align-items: flex-start;
  }
}
.likearts-content .checkout-page.step-1 .variants__item-link {
  font-size: calc(17 / 16 * 1rem);
  font-weight: 600;
  text-decoration: underline;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1170px) {
  .likearts-content .checkout-page.step-1 .variants__item-link {
    font-size: calc(15 / 16 * 1rem);
  }
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .variants__item-link {
    font-size: calc(13 / 16 * 1rem);
    margin-top: 10px;
  }
}
.likearts-content .checkout-page.step-1 .variants__item-icon {
  margin-right: 10px;
}
.likearts-content .checkout-page.step-1 .contacts {
  position: relative;
  color: #000;
}
.likearts-content .checkout-page.step-1 .contacts__location {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.likearts-content .checkout-page.step-1 .contacts__location-pic {
  width: 100%;
  height: 100%;
  max-width: 335px;
  max-height: 209px;
  object-fit: cover;
}
.likearts-content .checkout-page.step-1 .contacts__location-map {
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .contacts__location-map {
    display: none;
  }
}
.likearts-content .checkout-page.step-1 .contacts__location-address {
  flex-shrink: 1;
  padding-left: 31px;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .contacts__location-address {
    padding-left: 0;
  }
}
.likearts-content .checkout-page.step-1 .contacts__desc-title {
  font-size: calc(13 / 16 * 1rem);
  font-weight: 700;
  line-height: 1.85;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.likearts-content .checkout-page.step-1 .contacts__desc-text {
  font-size: calc(15 / 16 * 1rem);
  font-weight: 400;
  line-height: 1.33;
  color: #545454;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .contacts__desc-text {
    font-size: calc(14 / 16 * 1rem);
  }
}
.likearts-content .checkout-page.step-1 .contacts__label {
  font-size: calc(13 / 16 * 1rem);
  font-weight: 700;
  line-height: 1.85;
  text-transform: uppercase;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .contacts__label {
    font-size: calc(12 / 16 * 1rem);
  }
}
.likearts-content .checkout-page.step-1 .contacts__text {
  font-size: calc(15 / 16 * 1rem);
  font-weight: 400;
  color: #545454;
}
@media (max-width: 640px) {
  .likearts-content .checkout-page.step-1 .contacts__text {
    font-size: calc(14 / 16 * 1rem);
  }
}
.likearts-content .checkout-page.step-1 .contacts__location-item {
  margin-bottom: 7px;
}
