.likearts-content .elf-form {
  width: 100%;
  height: auto;
  min-height: 430px;
  background-color: #fff;
  border-radius: 12px;
  padding: 45px 39px;
}
@media (max-width: 768px) {
  .likearts-content .elf-form {
    padding: 30px 20px;
  }
}
.likearts-content .elf-form__header {
  margin-top: -5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 768px) {
  .likearts-content .elf-form__header {
    flex-flow: row wrap;
  }
}
.likearts-content .elf-form__title {
  color: #000;
  font-size: calc(20 / 16 * 1rem);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .likearts-content .elf-form__title {
    white-space: normal;
    font-size: calc(16 / 16 * 1rem);
  }
}
.likearts-content .elf-form__validation {
  color: #ea5b0c;
  font-size: calc(15 / 16 * 1rem);
  font-weight: 300;
  padding: 0 0 0 18px;
  border-left: 2px solid #ea5b0c;
  margin-left: 22px;
}
@media (max-width: 768px) {
  .likearts-content .elf-form__validation {
    margin: 15px 0 0 0;
  }
}
.likearts-content .elf-form__content {
  width: 100%;
  margin: 32px 0 0 0;
}
.likearts-content .elf-form__form-group {
  position: relative;
  width: calc(100% - 142px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .likearts-content .elf-form__form-group {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .likearts-content .elf-form__form-group {
    flex-flow: column wrap;
    align-items: flex-start;
  }
}
.likearts-content .elf-form__label {
  position: absolute;
  top: calc(50% - 0.4rem);
  left: 0;
  transform: translateY(-50%);
  color: #000;
  font-size: calc(15 / 16 * 1rem);
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
}
@media (max-width: 640px) {
  .likearts-content .elf-form__label {
    position: relative;
  }
}
.likearts-content .elf-form__label span {
  color: #ff581f;
}
.likearts-content .elf-form__control {
  position: relative;
  flex-grow: 1;
  margin-left: 150px;
}
@media (max-width: 640px) {
  .likearts-content .elf-form__control {
    margin-left: 0;
    width: 100%;
  }
}
.likearts-content .elf-form__input {
  width: 100%;
  line-height: 2.7;
  border-radius: 12px;
  border-color: #ececec;
  padding: 0 23px;
  color: #2b2b2b;
  font-size: calc(18 / 16 * 1em);
  border-style: solid;
}
@media (max-width: 768px) {
  .likearts-content .elf-form__input {
    line-height: 2.5;
  }
}
.likearts-content .elf-form__input:focus {
  outline: none;
  border-color: #ffde13;
}
.likearts-content .elf-form__sign {
  width: 100%;
  position: relative;
  bottom: -5px;
  left: 0;
  color: #adadad;
  font-size: calc(14 / 16 * 1em);
  font-weight: 300;
}
.likearts-content .elf-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 4px 5px rgba(0,0,0,0.07);
  padding: 15px 66px;
  background-image: linear-gradient(to top, rgba(0,0,0,0.02) 0%, rgba(255,255,255,0.05) 100%);
}
@media (max-width: 640px) {
  .likearts-content .elf-form__btn {
    width: 100%;
  }
}
.likearts-content .elf-form__btn .icon {
  margin-left: 5px;
}
