.likearts-content .zoom-gallery {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.likearts-content .zoom-gallery__pic {
  width: 100%;
  height: 455px;
  max-width: 447px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 8px;
}
@media (max-width: 640px) {
  .likearts-content .zoom-gallery__pic {
    height: 300px;
  }
}
.likearts-content .zoom-gallery__thumbnails {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -8px;
}
.likearts-content .zoom-gallery__thumbnails-item {
  cursor: pointer;
  margin: 8px;
}
.likearts-content .zoom-gallery__thumbnails-item img {
  width: 100px;
  height: 96px;
  object-fit: cover;
  border-radius: 12px;
  margin: 0;
}
