.likearts-content .sex-picker {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.likearts-content .sex-picker input {
  display: none;
}
.likearts-content .sex-picker__item {
  width: 14px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/sex-picker/sprite.png");
}
@media (max-width: 640px) {
  .likearts-content .sex-picker__item {
    margin-right: 15px;
  }
}
.likearts-content .sex-picker__item--man {
  background-position: 0 0;
}
.likearts-content .sex-picker__item--woman {
  background-position: 0 -60px;
}
.likearts-content .sex-picker__item.sex-picker__item--man.js-is-active {
  background-position: 0 -30px;
}
.likearts-content .sex-picker__item.sex-picker__item--woman.js-is-active {
  background-position: 0 -90px;
}
