.likearts-content .flex-grid
	display flex
	flex-flow row wrap
	justify-content flex-start
	align-items stretch
	@media (max-width: 970px)
		padding 0 30px
	@media (max-width: 768px)
		flex-flow column wrap

.likearts-content .flex-item
	&--aside
		width 100%
		max-width 268px
		@media (max-width: 1170px)
			max-width 254px
		@media (max-width: 768px)
			max-width none

	&--content
		flex-grow 1