@import 'nib'

.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-gutter {
  padding: 0 !important;
  margin: 0 !important;
}
.paper-shadow-z1 {
  box-shadow: 0 1px 6px rgba(0,0,0,0.06), 0 1px 4px rgba(0,0,0,0.06);
}
.paper-shadow-z2 {
  box-shadow: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23);
}
.paper-shadow-z3 {
  box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23);
}
.paper-shadow-z4 {
  box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);
}
.paper-shadow-z5 {
  box-shadow: 0 19px 60px rgba(0,0,0,0.3), 0 15px 20px rgba(0,0,0,0.22);
}
.divider {
  height: 1px;
  width: 100%;
  border-top: 1px solid #e0e0e0;
}
.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.transition {
  transition: all 0.2s ease-in-out;
}
.phone-visible {
  display: block;
}
@media all and (min-width: 640px) {
  .phone-visible {
    display: none;
  }
}
.not-phone-visible {
  display: none;
}
@media all and (min-width: 640px) {
  .not-phone-visible {
    display: block;
  }
}
