@import 'nib'

//colors
$color-primary = #ffde13
$color-bg = #f2f2f2
$color-text = #000
$color-text-hint = #aeaeae

//resolutions
$phone = 640px
$tablet = 768px
$notebook = 1024px
$desktop = 1600px

//params
$container-width = 1170px
$base-font = 16

*,
*::before,
*::after
	box-sizing border-box

html, body
	width 100%
	height auto
	min-height 100%

.likearts-content
	font-family 'ProximaNova', sans-serif
	font-weight 400
	background-color $color-bg
	color $color-text
	-webkit-font-smoothing antialiased
	-webkit-overflow-scrolling touch

.likearts-content a
	&:hover,
	&:active,
	&:focus
		text-decoration none

.likearts-content .icon
	display inline-block

.likearts-content .main-layout
	position relative
	max-width $container-width
	margin 0 auto
