@import 'nib'

//colors
$color-primary = #1ecef4
$color-bg = #f8f8f8
$color-text = #000
$color-text-hint = #aeaeae

//resolutions
$phone = 640px
$tablet = 768px
$notebook = 1024px
$desktop = 1600px

//params
$container-width = 1170px