//colors
$color-primary = #ffde13
$color-bg = #f2f2f2
$color-text = #000
$color-text-hint = #aeaeae

//resolutions
$phone = 640px
$tablet = 768px
$notebook = 1024px
$desktop = 1600px

//params
$container-width = 1170px
$base-font = 16

.likearts-content .menu-desktop

	&__list
		width 100%
		height auto
		min-height 55px
		padding 0
		margin 0
		display flex
		flex-flow row wrap
		justify-content flex-start
		align-items center
		font-weight 300
		@media (max-width: 970px)
			justify-content center

	&__list-item
		list-style none
		padding 0 13px 0 15px
		@media (max-width: 1170px)
			padding 0 12px

	&__list-link
		display inline-block
		color #a0a9b2
		font-size calc(13 / 16 * 1em)
		text-decoration underline
		padding 21px 0 20px 0
		transition color .2s ease-in-out
		&:hover
			color #fff

	&__list-link.is-active
		color #fff

.likearts-content .menu-mobile
	width 100%
	position fixed
	top 0
	left 0
	background-color #212121
	box-shadow 0 1px 6px rgba(0,0,0,0.06), 0 1px 4px rgba(0,0,0,0.06)

	&__btn
		position relative
		width 50px
		height 50px
		z-index 100
		cursor pointer

	&__icon
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		color #fff

	&__list
		position fixed
		top 0
		left 0
		z-index 99
		transition all .2s ease-in-out
		transform translateX(-240px)
		width 240px
		height 100%
		background-color $color-primary
		list-style none
		padding 50px 0 0 0
		margin 0
		font-size calc(11 / 16 * 1em)
		font-weight 500
		text-transform uppercase
		overflow-y auto

	&__list-item
		border-bottom 1px solid #FFCA28
		transition all .2s ease-in-out
		&:hover
			background-color #FDD835

	&__list-item.is-active
		background-color #0a0c0d
		.menu-mobile__list-link
			color #fff

	&__list-link
		display block
		color $color-text
		padding 16px
		text-decoration none

	&__overlay
		display none
		position fixed
		top 0
		left 0
		z-index 98
		width 100%
		height 100%
		background-color #000
		opacity .5